{% extends "tutorials_base.html" %}

{% block content %}
    <section class="wrapper text-center">
        <h1 class="subheading">{{subheading}}</h1>
        <section class="container-fluid frame-width">
            <section class="row justify-content-center">
                {% if page == 1 %}
                    <section class="col-6 text-center border border-dark">
                        <p class="frame-subheading">Watch the video, then answer the question on the right.</p>
                        <video class="border border-dark intro-vid" width="100%" height="auto" controls>
                            <!-- <source src="{{url_for('static', filename='who_uses_metric.mp4')}}" type="video/mp4"> -->
                        </video>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <div class="accordion-item">
                            <p class="frame-subheading">Concept question...</p>
                            <figure class="figure" style="width: 80%">
                                <p class="frame-text">Figure goes here. (Target and perhaps scale).</p>
                            </figure>
                            <section class="accordion-header">
                                <button class="btn btn-success responsive-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Check Answer
                                </button>
                            </section>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body frame-text">
                                    Lorem ipsum...
                                </div>
                            </div>
                        </div>                        
                    </section>
                {% elif page == 2 %}
                    <section class="col-6 text-center border border-dark">
                        <p class="frame-subheading">Watch the video, then answers the question on the right.</p>
                        <video class="border border-dark intro-vid" width="100%" height="auto" controls>
                            <!-- <source src="{{url_for('static', filename='who_uses_metric.mp4')}}" type="video/mp4"> -->
                        </video>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <ol class="frame-text">
                            <li style="color:green">Which ruler (A, B, or C) would give the most precise measurements?</li>
                            <li style="color:purple">Which ruler could give the most accurate length?</li>
                        </ol>
                        <div class="accordion-item">
                            <figure class="figure frame-figure">
                                <img src="{{url_for('static', filename='ruler_choice.png')}}" class="figure-img img-fluid" alt="Showing 3 rulers. Ruler A is marked every 10 cm. Ruler B is marked every 1 cm. Ruler C is marked every 0.1 cm.">
                            </figure>
                            <h3 class="accordion-header">
                                <button class="btn btn-success responsive-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Check Answers
                                </button>
                            </h3>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body frame-text">
                                    <ol>
                                        <li style="color:green">Assuming the tools are used correctly, ruler C would give the most precise results.</li>
                                        <ul class="frame-text" style="color:green">
                                            <li>For ruler C, repeated measurements could differ by ≈0.01 - 0.03 cm.</li>
                                            <li>For B, repeated measurements could differ by 0.1 - 0.3 cm.</li>
                                            <li>For A, repeated measurements could differ by 1 - 2 cm.</li>
                                        </ul>
                                        <li style="color:purple"><strong>ANY</strong> of the rulers could be the most accurate! Accuracy depends on the tool AND the person using it.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>                        
                    </section>
                {% else %}
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed frame-list-heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Question #1
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
                                <div class="accordion-body frame-text">
                                    <u>True or False</u>: Taking more precise measurements increases the accuracy of the results.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed frame-list-heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Question #2
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                                <div class="accordion-body frame-text">ID the most accurate tool.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed frame-list-heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Answers
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
                                <p class="accordion-body frame-text"><u>Question #1</u>: FALSE!</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </section>
        </section>
    </section>
{% endblock %}  