{% extends "base.html" %}

{% block content %}
    <section class="container wrapper text-center">
        <h1 class='main-heading'>Measurement Technique</h1>
        <section class="row">
            <section class="col">
                <div class = 'wrapper text-center'>
                    <h1 class="subheading"><u>Learn</u></h1>
                    <div class="btn-group-vertical">
                        <a href="accuracy_vs_precision/1" class="btn btn-success button-margin responsive-btn" role="button">Accuracy vs. Precision</a>
                        <a href="measuring/1" class="btn btn-success button-margin responsive-btn" role="button">Recording Measurements</a>
                        <a href="common_mistakes/1" class="btn btn-success button-margin responsive-btn" role="button" disabled>Common Mistakes</a>
                    </div>
                </div>
            </section>
            <section class = 'col'>
                <div class='wrapper text-center'>
                    <h1 class="subheading"><u>Do</u></h1>
                    <div class="btn-group-vertical">
                        <a href="measurement_practice" class="btn btn-primary button-margin responsive-btn" role="button">Measurement Practice</a>
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}  