{% extends "base.html" %}

{% block content %}
    <section class="container">
        <h1 class = "wrapper text-center main-heading">Measurement Practice</h1>
        <h2 class="page-instructions">Examine the ruler below. Enter the proper measurement for the shaded box.</h2>
    </section>
    <section class="container wrapper text-center">
        <em>Form field here...</em>
    </section>
    <br>
    <section class="container text-center">
        <div class="row">
            <div class="bg-danger" style="max-width: {{wide}}%">
                <p>{{object_length}}</p>
            </div>
        </div>
        <div class="row">
            <figure class="col-12" style="padding:0px">
                {% if num_divisions == 100 %}
                    <img src="{{url_for('static', filename='ruler_100.png')}}" class="figure-img img-fluid" alt="Scale showing 100 marks.">
                {% elif num_divisions == 10 %}
                    <img src="{{url_for('static', filename='ruler_10.png')}}" class="figure-img img-fluid" alt="Scale showing 100 marks.">
                {% else %}
                    <img src="{{url_for('static', filename='ruler_1.png')}}" class="figure-img img-fluid" alt="Scale showing 100 marks.">
                {% endif %}
            </figure>
        </div>
    </section>
    <section class="container text-center">
        <div class="row">
            <div class="col-1 right-side-label">
                <p>{{start_value}}</p>
            </div>
            <figure class="col-10">
                <p class="text-center">{{(end_value - start_value)//2 + start_value}}</p>
            </figure>
            <div class="col-1 left-side-label">
                <p>{{end_value}}</p>
            </div>
        </div>
    </section>
    <!-- Vertical & Horizontal rulers: https://codepen.io/Raph285/pen/oNPdPWq -->
    <!-- Horizontal ruler: https://codepen.io/pbweb/pen/gMQKEK-->
{% endblock %}  