{% extends "tutorials_base.html" %}

{% block content %}
    <section class="wrapper text-center">
        <h2 class="subheading">{{subheading}}</h2>
        <section class="container-fluid frame-width">
            <section class="row justify-content-center">
                {% if page == 1 %}
                    <section class="col-8 text-center border border-dark">
                        <p class="frame-heading" style="color:green">Ruler A</p>
                        <figure class="figure">
                            <img src="{{url_for('static', filename='meas_ex_1.png')}}" class="figure-img img-fluid" alt="Ruler with only 0 cm and 10 cm markings, plus an object less than half the length of the ruler.">
                        </figure>
                        <hr>
                        <p class="frame-heading" style="color:purple">Ruler B</p>
                        <figure class="figure">
                            <img src="{{url_for('static', filename='meas_ex_2.png')}}" class="figure-img img-fluid" alt="Ruler marked every 1 cm, plus an object that fallw between the 8cm and 9 cm marks.">
                        </figure>
                    </section>
                    <section class="col-4 border border-dark text-left">
                        <p class="frame-text">For ruler A, select TWO valid length measurements for the object.</p>
                        <section class="checkbox-label">
                            {% for option in [5, 5.5, 5.49807, 6, 9] %}
                                <input name="answer_a" type="checkbox" value="{{option}}" id="answer{{option}}">
                                <label class="checkbox-label" for="answer{{option}}" style="color:green">{{option}} cm</label>
                                <br>
                            {% endfor %}
                        </section>                          
                        <br>
                        <p class="frame-text">For ruler B, select TWO valid length measurements for the object.</p>
                        <section class="checkbox-label">
                            {% for option in [8.8, 8.3, 8.25, 8.2, 8.1763] %}
                                <input name="answer_b" type="checkbox" value="{{option}}" id="answer{{option}}">
                                <label class="checkbox-label" for="answer{{option}}" style="color:purple">{{option}} cm</label>
                                <br>
                            {% endfor %}
                        </section>
                        <h3 class="accordion-header">
                            <button class="btn btn-success responsive-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Check Answers
                            </button>
                        </h3>
                        <section id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body frame-text">
                                <p>For ruler A, the valid lengths are 5 cm and 6 cm.</p>
                                <p>For ruler B, the valid lengths are 8.3 cm and 8.2 cm.</p>
                                <div class="wrapper text-center">
                                    <a href="/measuring/2" class="btn btn-danger responsive-btn" role="button">WHY are these correct?</a>
                                </div>
                            </div>
                        </section>
                    </section>
                {% elif page == 2 %}
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border border-dark">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed frame-list-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                                    <span>Certain vs. uncertain digits.</span>
                                </button>
                            </h2>
                            <div id="collapseZero" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <section class="accordion-body frame-text row justify-content-center">
                                    <div class="col-5" style="color:blue">
                                        <video class="border border-dark intro-vid" width="100%" height="auto" controls>
                                            <!-- <source src="{{url_for('static', filename='who_uses_metric.mp4')}}" type="video/mp4"> -->
                                        </video>
                                    </div>
                                    <div class="col-7 text-center">
                                        <figure class="figure">
                                            <img src="{{url_for('static', filename='tick_marks.png')}}" class="figure-img img-fluid" alt="Ruler with only 0 cm and 10 cm markings, plus an object less than half the length of the ruler.">
                                        </figure>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="accordion-item border border-dark">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed frame-list-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span>A measurement can contain only <strong>ONE</strong> guess digit.</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <section class="accordion-body frame-text row justify-content-center">
                                    <div class="col-6" style="color:blue">
                                        <ul>
                                            <li>The ruler on the right is marked every 1 cm.</li>
                                            <li>We can see that the object is between 8 cm and 9 cm.</li>
                                            <ul style="color:purple"><li>We KNOW the first digit in our measurement must be an "8".</li></ul>
                                            <li>How much longer than 8 cm is the object? We can't say for sure.</li>
                                            <ul style="color:purple"><li>We can GUESS a value after the decimal, like 8.2 cm or 8.3 cm.</li></ul>
                                            <li>Since the space between 8 and 9 cm is unmarked, adding more digits to the measurement just adds more guesses.</li>
                                            <ul style="color:purple"><li>8.2 cm contains one guess digit. 8.25 cm contains two.</li></ul>
                                            <li style="color:red">By convention, a measurement can contain only <strong>ONE</strong> guess digit!</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 text-center">
                                        <figure class="figure">
                                            <img src="{{url_for('static', filename='meas_ex_2.png')}}" class="figure-img img-fluid" alt="Ruler with only 0 cm and 10 cm markings, plus an object less than half the length of the ruler.">
                                        </figure>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="accordion-item border border-dark">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed frame-list-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span><u>Compare</u>: Same range but different numbers of tick marks.</span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <section class="accordion-body frame-text row justify-content-center">
                                    <div class="col-6" style="color:blue">
                                        <ul>
                                            <li>Both tools show the same overall range (0 g - 5 g).</li>
                                            <li>The top tool has marks every 1 g. The bottom tool has marks every 0.1 g.</li>
                                            <ul style="color:purple">
                                                <li>With more marks, the bottom tool places the guess digit further to the right.</li>
                                                <li>2.<u>4</u> g for the top tool vs. 2.4<u>2</u> g for the bottom.</li>
                                            </ul>
                                            <li>For the same range, adding more marks to the tool increses the <em>precision</em> of the measurement.</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 text-center">
                                        <figure class="figure">
                                            <img src="{{url_for('static', filename='scale_1.png')}}" class="figure-img img-fluid" alt="Two scales marked from 0 - 5 grams. The top scale is marked every 1 g, while the bottom scale is marked every 0.1 g.">
                                        </figure>
                                    </div>
                                </section>
                        </div>
                        <div class="accordion-item border border-dark">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed frame-list-heading" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span><u>Compare</u>: Same number of tick marks but different ranges.</span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <section class="accordion-body frame-text row justify-content-center">
                                    <div class="col-6" style="color:blue">
                                        <ul>
                                            <li>Both tools have the same number of markings.</li>
                                            <li>The top tool has a range of 0 - 5 grams. The bottom tool has a smaller range (0 - 0.5 g).</li>
                                            <ul style="color:purple">
                                                <li>With a smaller range, the bottom tool places the guess digit further to the right.</li>
                                                <li>3.4<u>8</u> g for the top tool vs. 0.34<u>8</u> g for the bottom.</li>
                                            </ul>
                                            <li>For the same number of tick marks, a smaller range increses the <em>precision</em> of the measurement.</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 text-center">
                                        <figure class="figure">
                                            <img src="{{url_for('static', filename='scale_2.png')}}" class="figure-img img-fluid" alt="Two scales with the same number of tick marks. The top scale has a range of 0 - 5 grams, while the bottom scale has a range of 0 - 0.5 g.">
                                        </figure>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                {% elif page == 3 %}
                    <section class="col-6 text-center border border-dark">
                        <p class="frame-heading">Watch the video, then try the example on the right.</p>
                        <video class="border border-dark intro-vid" width="100%" height="auto" controls>
                            <source src="{{url_for('static', filename='measurement_technique.mp4')}}" type="video/mp4">
                        </video>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <p class="frame-heading">Practice: Identify the measurement for each arrow below.</p>
                        <div class="accordion-item">
                            <figure class="figure" style="width: 80%">
                                <img src="{{url_for('static', filename='practice_1.png')}}" class="figure-img img-fluid" alt="Showing 3 rulers. Top ruler is marked every 10 cm, with the arrow between the 10 cm and 20 cm marks. Middle ruler is marked every 0.1 g, with the arrow eaxclty on the 51.90 g mark. Bottom ruler is marked every 0.001 m, with the arrow between the 0.007 cm and 0.008 m marks.">
                            </figure>
                            <h3 class="accordion-header">
                                <button class="btn btn-success responsive-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Check Answers
                                </button>
                            </h3>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="frame-text">
                                        <li style="color:blue"><u>Top arrow</u>: 12 cm, 13 cm, or 14 cm</li>
                                        <li style="color:green"><u>Middle arrow</u>: 51.90 g (NOT 51.9 g!)</li>
                                        <li style="color:purple"><u>Bottom arrow</u>: 0.0074 m, 0.0075 m, or 0.0076 m</li>
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                    </section>
                {% else %}
                    <section class="col-6 text-center border border-dark">
                        <p class="frame-heading">Some frequent data-recording errors.</p>
                        <video class="border border-dark intro-vid" width="100%" height="auto" controls>
                            <source src="{{url_for('static', filename='common_errors.mp4')}}" type="video/mp4">
                        </video>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <p class="frame-heading">Trailing zeros DO serve a purpose!</p>
                        <figure class="figure" style="width: 65%">
                            <img src="{{url_for('static', filename='trailing_zero.png')}}" class="figure-img img-fluid" alt="Showing a frown-faced zero with a speech bubble. The digit wonders why students ignore it when it comes last after the decimal.">
                        </figure>
                        <hr>
                        <div class="accordion-item wrapper">
                            <p class="frame-text text-center"><u>True or False</u>:</p>
                            <p class="frame-text text-center">The measurements 4 cm, 4.0 cm, and 4.00 cm mean the same thing.</p>
                            <h3 class="accordion-header">
                                <button class="btn btn-success responsive-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Check Answer
                                </button>
                            </h3>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h4>FALSE!</h4>
                                    <ul class="frame-text" style="color:blue">Different rulers were used to take each measurement.
                                        <li><u>4 cm</u>: The ruler was marked every 10 cm.</li>
                                        <li><u>4.0 cm</u>: The ruler was marked every 1 cm.</li>
                                        <li><u>4.00 cm</u>: The ruler was marked every 0.1 cm.</li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </section>
                {% endif %}
            </section>
        </section>
    </section>
{% endblock %}